.botao{
                background-color:#DDDDDD;
                
                border: none;
                
                padding: 10px 10px;
                transition: 0.3s;                 
            }
            
            @keyframes aparecerSuave {
                from {opacity: 0.5;}
                to {opacity: 1;}
            }
            .conteudo{
                background-color: #DDDDDD;
                width: 50%;
                margin-top:0;
                border-top:none;
                animation: aparecerSuave 2s; 

            }
            .invisivel{
                display:none;
            }
            .visivel{
                display:box;
            }
            
            table{
                
                background-color: #ffe5e5;
                border-style: none;
            }
            
            tr:hover{
                background-color: yellow;
                
            }
            
            
